
@font-face {
    font-family: 'Museo Sans 100 Thin';
    src: url('../fonts');
    src: url('../fonts') format('embedded-opentype'),
    url('../fonts') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('../fonts');
    src: url('../fonts') format('embedded-opentype'),
    url('../fonts') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 500 Medium';
    src: url('../fonts');
    src: url('../fonts') format('embedded-opentype'),
    url('../fonts') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 700 Bold';
    src: url('../fonts');
    src: url('../fonts') format('embedded-opentype'),
    url('../fonts') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 900 Black';
    src: url('../fonts');
    src: url('../fonts') format('embedded-opentype'),
    url('../fonts') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}






